.titlecc {
  padding: 14px;
  background-color: #2a3539;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0;
  color: #fff;
  overflow-y: auto;
}

.tags-container {
  display: flex;
}

.titleinfocc {
  margin: 0;
  padding: 20px;
  font-size: 26px;
  text-align: left;
  font-weight: bold;
  padding-bottom: 4px;
}

.titlecc h2 {
  font-family: 'Pacifico', cursive;
  font-weight: normal;
  padding: 20px;
  margin: 0;
  padding-top: 0;
  font-size: 15px;
}

.iconcc {
  padding-left: 8px;
}

.titlecc h3 {
  padding: 20px;
  font-size: 12px;
  text-align: left;
  font-weight: normal;
  font-style: italic;
  margin-top: -20px;
}

.titlecc p {
  padding: 0px 20px;
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 15px;
  text-align: left;
}

.othercc {
  position: absolute;
  bottom: 0;
  
}

.datecc {
  padding-bottom: 0px;
  margin-bottom: 0px;
  text-align: left;
  padding-left: 20px;
  font-size: 15px;
}

.moreinfocc {
  padding-top: 0px;
  margin-top: 0px;
  text-align: left;
  padding-left: 20px;
  font-size: 15px;
  margin-bottom: 50px;
}

.titlecc a {
  font-size: 10px;
}

.titlecc span {
  display: inline-block;
}

.img-container {
  display: flex;
  align-items: center;
}

.img-container img {
  width: 150px;
  padding: 0px 20px;
  cursor: pointer;
}

.enlarged-image {
  max-width: 100%;
  max-height: 80vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 9999;
  cursor: zoom-out;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  z-index: 9998;
  cursor: pointer;
}

/* Event tab styling */
.event-tabs {
  margin-top: 10px;
}

.event-tab {
  margin-left: 25px;

  cursor: pointer;
  font-size: 1.5em;
  margin-right: 20px;
  text-decoration: none;
  transition: color 0.3s, text-decoration 0.3s;
}

.event-tab:hover {
  text-decoration: underline;
}

.event-tab.active {
  margin-left: 25px;

  border-bottom: 2px solid;
  text-decoration: none;
  color: inherit; /* Use the color set in the inline style */
}

.event-details {
  padding: 10px;
  margin-top: 10px;
}     


.event-details img{
  padding-bottom: 60px;
}