h1, h2, p {
  text-align: center;
}

.leaflet-container {
  height: 100vh;
  width: 100%;
  position: relative;
}

.parent_of_all_div{
  display: flex;
  flex-direction: column;
}

.btn_container {
  width:80px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100000;
}

.details_container {
  width:80px;
  height: 100%;
  position: absolute;
  top: 20;
  right: 20;
  z-index: 100000;
}

