h1, h2, p {
  text-align: center;
}

.leaflet-container {
  height: 100vh;
  width: 100%;
  position: relative;
}

.parent_of_all_div{
  display: flex;
  flex-direction: column;
}

.button-container {
  display: flex;
  align-items: flex-start; /* Adjust alignment as needed */
}

.btn_container {
  width:80px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100000;
}

.markers_div{
  z-index: 10000;
}

.details_container {
  width:350px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10000;
  padding-right: 80px;
}



.btn-x{
  width:70px;
  height: 5%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100000;
  margin-right: 430px;
  display: inline-block;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 2px 16px;
  min-width: 60px;
  min-height: 32px;
  border: none;
  color: #fff;
  background-color: #4f545c;
  transition: background-color .17s ease,color .17s ease;
}




