.main-container{
  height: 100vh;
  background-color: #2a3539;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  position: relative; 
}

.btn-container {
  color: #bbbec0;
  cursor: pointer;
  width: 100%;
  position: relative; 
  display: flex;
  flex-direction: row;
  align-content: center;
}

.btn-container :hover {
  background-color: #60696b;
  color: #f4f4f4;
} 

.clicked{
  background-color: #60696b;
  color: #f4f4f4;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  border-bottom: 0.1px solid rgba(255, 255, 255, 0.2); 
}
.clicked2{
  background-color: #60696b;
  color: #f4f4f4;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  border-bottom: 0.1px solid rgba(255, 255, 255, 0.2); 
  font-weight: bold;
  font-size:18px;
  text-align: center;
}

#clicked{
  background-color: #60696b;
  color: #f4f4f4;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  border-bottom: 0.1px solid rgba(255, 255, 255, 0.2); 
}


.hv{
  background-color: #2a3539;
  margin-left: 0px;
  position:absolute;
  right:80px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  width: 200px;
  height: 35px;
  font-size: 16px;
  vertical-align: center;
}  


.rhombus {
  width: 20px;
  height: 20px;
  position:absolute;
  right:76px;
  top:25px;
  background-color: #2a3539;
  transform: rotate(45deg);

}


.ccbtn{
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  border-bottom: 0.1px solid rgba(255, 255, 255, 0.2); 
}  


#lndbtn {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  border-bottom: 0.1px solid rgba(255, 255, 255, 0.2); 
}

#airbtn {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  border-bottom: 0.1px solid rgba(255, 255, 255, 0.2); 
}
  


.grmbtn {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  border-bottom: 0.1px solid rgba(255, 255, 255, 0.2); 
}
.navbtn {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  border-bottom: 0.1px solid rgba(255, 255, 255, 0.2); 
}
.usrbtn {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  border-bottom: 0.1px solid rgba(255, 255, 255, 0.2); 
}
.plusbtn {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  border-bottom: 0.1px solid rgba(255, 255, 255, 0.2); 
}

.profilee{
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  border-bottom: 0.1px solid rgba(255, 255, 255, 0.2); 
  background-color: transparent;
  color: rgb(196, 196, 196);
  font-weight: bold;
  font-size:18px;
  text-align: center;
}

.profilee:hover{
  cursor: pointer;
}


#spancheck{
  margin-top: 165px;
  margin-bottom: 160px;
}

#infobtn {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  border-top: 0.1px solid rgba(255, 255, 255, 0.2); 

}

#geolocationbtn {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  border-top: 0.1px solid rgba(255, 255, 255, 0.2); 

} 

