/* CCMarker.css */
.custom-marker-icon2 {
    color: #ffffff;
    font-size: 11px; /* Adjust the font size as needed */
    /* font-weight: bold; */
    /* right: 0; */
  
  
  
  }
  /*  
  .custom-marker-icon {
    position: absolute;
  }
   */
  
  